@charset "utf-8";

/* ============================================================
    파일정의 : common.css
============================================================ */

/* color */
:root {
    /* font size */
    --font-xs: 14px; /* 모바일 폰트사이즈 */
    --font-s: 15px;
    --font-common: 16px; /* 기본 폰트사이즈 */
    --font-l: 17px;
    --font-xl: 18px;
    --font-xxl: 19px;
}

/* 정렬 */
.agn_c{text-align: center !important;}
.agn_l{text-align: left !important;}
.agn_r{text-align: right !important;}

/* 마진 */
.mtp0{margin-top:0 !important}
.mtp50{margin-top: 50px !important;}
.ml0{margin-left: 0 !important;}
.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.mt0{margin-top: 0 !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}

/* 폰트컬러 */
.f_color_blue {color: #3f89e5;}

/* state box / border-radius 있는것 */
.state_box > * {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 10px;
    background-color: #9a9a9a;
    border-radius: 3px;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
}
.state_box.type_02 {
    display: flex;
    gap: 5px;
}
.state_box.type_02 > * {
    margin-left: 0;
}
.state_box .notice {
    padding: 5px 10px;
    margin-left: 0;
}
.state_box .red {
    background-color: #ef5350;
}
.state_box .green {
    background-color: #00a651;
}
.state_box .mauve {
    background-color: #ababe8;
}
.state_box .skyblue {
    background-color: #79c5e1;
}
.state_box .apricot {
    background-color: #fcc084;
}
.state_box .lightgreen {
    background-color: #57c257;
}
.state_box .lightpurple {
    background-color: #9aacd1;
}
.state_box .brown {
    background-color: #caaea0;
}

/* border-radius 없는것 */
.state_group {
    display: flex;
    gap: 5px;
}
.state_group span {
    padding: 3px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
.state_group .green {
    background-color: #1db871;
}
.state_group .blue {
    background-color: #3c90f8;
}
.state_group .pink {
    background-color: #f579dc;
}
.state_group .black {
    background-color: #666;
}
.state_group .mauve {
    background-color: #ababe8;
}
.state_group .skyblue {
    background-color: #79c5e1;
}
.state_group .apricot {
    background-color: #fcc084;
}
.state_group .lightgreen {
    background-color: #57c257;
}
.state_group .lightpurple {
    background-color: #9aacd1;
}
.state_group .brown {
    background-color: #caaea0;
}

/* 버튼 */
.btn_box_group {
    display: flex;
    gap: 10px;
}
.btn_box {
    display: flex;
    width: 160px;
    flex: 1;
}
.btn_box * {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
.btn_box_group.type_tbl {
    margin: 30px 0 50px;
    justify-content: flex-end;
}
.btn_box_group.type_tbl .btn_box {
    flex: none;
    width: auto;
}
.btn_box_group.type_tbl .btn_box * {
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
}
.btn_box .btn_blue {
    background-color: #457cd7;
}
.btn_box .btn_gray {
    background-color: #666;
}
.btn_box .shadow {
    box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 30%);
}
.btn_box .btn_skyblue {
    background-color: #448aff;
}
.btn_box.bg * {
    font-size: var(--font-common);
    color: #333;
}
.btn_box.bg *:hover,
.btn_box.bg *:focus {
    background-color: #f9fafa;
    border-color: #333;
}
.btn_box.bg *::before {
    content: "";
    width: 20px;
    height: 17px;
    background: no-repeat center;
    margin-right: 5px;
}
.btn_box.bg .download::after {
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/ico/ico_download.png) no-repeat center;
    margin-left: 5px;
}
.btn_box.bg .download::before {
    display: none;
}
.btn_box.bg .btn_modi::before {
    background-image: url(../images/ico/ico_btn_modi.png);
}
.btn_box.bg .btn_delete::before {
    background-image: url(../images/ico/ico_btn_delete.png);
}
.btn_box.bg .btn_list::before {
    background-image: url(../images/ico/ico_btn_list.png);
}
.btn_box.bg .btn_save::before {
    background-image: url(../images/ico/ico_btn_save.png);
}
.btn_box.bg .btn_cancel::before {
    background-image: url(../images/ico/ico_btn_cancel.png);
}
.btn_box .btn_arrow_right {
    align-items: center;
    background-color: #5ab1f7;
    font-size: 15px;
}
.btn_box .btn_arrow_right::after {
    content: "";
    display: flex;
    width: 26px;
    height: 19px;
    background: url(../images/ico/ico_arrow_right.png) no-repeat;
    background-size: auto 100%;
    margin-left: 10px;
}

/* 제목 */
.tit_box h2 {
    font-family: 'koreanAH3';
    font-weight: 700;
    font-size: 63px;
    letter-spacing: -3px;
}
.tit_box h3 {
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2.5px;
}
.tit_box h3 + span {
    display: block;
    padding-bottom: 40px;
    font-size: var(--font-common);
    color: #606060;
}
.tit_box h4 {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 22px;
}
.tit_box h4 span {
    display: block;
    width: 23px;
    height: 23px;
    background-color: #3949ab;
    border-radius: 4px;
    margin-right: 10px;
}

.req {
    position: absolute;
    top: -5px;
    right: -10px;
    color: #d11919;
}

/* input 인풋 */
.inp_box {
    display: flex;
}
.inp_box.min {
    max-width: 395px;
}
.inp_box input {
    display: block;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6e6e6; 
    font-size: var(--font-common);
}

/* datepicker */
.datepicker_box {
    position: relative;
}
.datepicker_box .ui-datepicker-trigger {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
/* textarea 텍스트에리어 */
.textarea_box {
    display: flex;
}
.textarea_box textarea {
    display: block;
    width: 100%;
    min-height: 80px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6e6e6; 
    resize: none;
    font-size: var(--font-common);
}

/* select box 셀렉트박스 */
.sel_box {
    display: flex;
    position: relative;
}
.sel_box select {
    display: block;
    padding: 5px 15px;
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    font-size: var(--font-common);
    font-weight: 400;
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
    color: #333;
}
.sel_box::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 7px;
    height: 7px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg) translate(-50%, -50%);
}

/* rdo_box 라디오박스 */
.rdo_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}
.rdo_box + .rdo_box {
    margin-top: 10px; /* 예비용 */
}
.rdo_box span {
    display: flex;
    position: relative;
    width: 180px;
}
.rdo_box input {
    position: absolute;
    top: 0;
    left: -9999px;
}
.rdo_box input + label {
    display: flex;
    position: relative;
    padding-left: 30px;
    font-size: 15px;
    cursor: pointer;
}
.rdo_box input + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    box-sizing: border-box;
    transition: .3s;
}
.rdo_box input + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #457cd7;
    transition: .2s;
    transform: scale(0);
}
.rdo_box input:checked + label::before {
    border-color: #457cd7;
}
.rdo_box input:checked + label::after {
    transform: scale(1);
}
.rdo_box input:disabled + label::before {
    border-color: #bfbfbf;
    background-color: #eee;
}
.rdo_box input.checked + label::before {
    background-color: #eee;
}
.rdo_box input.checked + label::after {
    background-color: #bfbfbf;
    transform: scale(1);
}

/* chk_box 체크박스 */
.chk_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}
.chk_box + .chk_box {
    margin-top: 10px; /* 예비용 */
}
.chk_box span {
    display: flex;
    position: relative;
    width: 180px;
}
.chk_box input {
    position: absolute;
    top: 0;
    left: -9999px;
}
.chk_box input ~ label {
    display: flex;
    position: relative;
    padding-left: 25px;
    font-size: 15px;
    cursor: pointer;
}
.chk_box input ~ label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    transition: .2s;
}
.chk_box input ~ label::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    transition: .2s;
}
.chk_box input:checked ~ label::before {
    border-color: #457cd7;
    background-color: #457cd7;
}
.chk_box input:checked ~ label::after {
    transform: rotate(45deg) scale(1);
}
.chk_box input.checked ~ label::before {
    background-color: #f5f5f5;
}
.chk_box input:disabled ~ label::before {
    background-color: #eee;
}
.chk_box input.checked ~ label::after {
    border-color: #bdbdbd;
    transform: rotate(45deg) scale(1);
}
.chk_box.solo {
    justify-content: center;
}
.chk_box.solo span {
    width: auto;
    min-height: 19px;
}
.chk_box.solo input + label {
    padding-left: 19px;
}

/* 혼합 인풋박스 */
.inp_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.inp_group > * {
    flex: 1;
}
.inp_group.search {
    flex-direction: row;
}
.inp_group.search .box_btn > * {
    display: flex;
    padding: 6px 20px;
    border-radius: 5px;
    background-color: #555;
    font-size: var(--font-s);
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.inp_group.file {
    flex-direction: column;
    align-items: flex-start;
}
.inp_group.file .file_box {
    display: flex;
    gap: 10px;
    align-items: center;
}
.inp_group.file .file_box input {
    position: absolute;
    width: 0;
    height: 0;
}
.inp_group.file .file_box input:focus + label {
    border: 2px solid #000;
}
.inp_group.file .file_box label {
    display: flex;
    padding: 6px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #999;
    box-sizing: border-box;
    font-size: var(--font-s);
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.inp_group.file .inp_box {
    width: 100%;
}
.inp_group.address {
    flex-direction: column;
    align-items: flex-start;
}
.inp_group.address span {
    display: flex;
    gap: 10px;
    width: 100%;
}
.inp_group.address span .inp_box {
    width: 100%;
}
.inp_group.address .box_btn > * {
    display: flex;
    padding: 6px 20px;
    border-radius: 5px;
    background-color: #555;
    font-size: var(--font-s);
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.inp_group.address span:nth-child(2) .inp_box {
    max-width: 498px;
}
.inp_group.txt {
    flex-direction: row;
    align-items: center;
}
.inp_group.txt * {
    flex: none;
}
.inp_group.txt .inp_box {
    width: calc(100% - 40px);
}
.inp_group.txt .txt {
    font-size: 14px;
    font-weight: 400;
}
.inp_group .txt_warning {
    position: relative;
    padding-left: 25px;
    line-height: 20px;
    font-size: 13px;
    color: #d11919;
}
.inp_group .txt_warning::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #d11919;
    background-color: #fff;
}
.inp_group .txt_warning::after {
    content: "!";
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 12px;
    font-weight: 700;
}
.inp_group.chk {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.inp_group.chk > * {
    flex: none;
}
.inp_group.chk .chk_box span {
    width: auto;
}
.inp_group.chk > .inp_box {
    margin-left: 10px;
}

/* 테이블 그룹 */
.tbl_in_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tbl_in_group .btn_box {
    width: auto;
    max-width: 200px;
    gap: 10px;
}
.tbl_in_group .btn_box * {
    font-size: 15px;
}

/* 테이블 타입0 :: 데이터 테이블 */
.tbl_box_data {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.tbl_box_data table {
    width: 100%;
    table-layout: fixed;
}
.tbl_box_data table tr th {
    padding: 15px 25px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    vertical-align: middle;
    background-color: #f9fafa;
}
.tbl_box_data table tr td {
    padding: 15px 25px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f9fafa;
}
.tbl_box_data table tr td:last-child {
    border-right: none;
}
.tbl_box_data table tr th label {
    position: relative;
}

/* 테이블 타입1 :: 데이터 정보 thead */
.tbl_box {
    border-top: 1px solid #333;
}
.tbl_box table {
    width: 100%;
}
.tbl_box table thead tr th {
    background-color: #f0f3f6;
    border-bottom: 1px solid #333;
    padding: 25px 0;
    box-sizing: border-box;
    border-right: 1px solid #e2e2e2;
    vertical-align: middle;
    font-weight: 500;
    font-size: var(--font-l);
}
.tbl_box table thead tr th:last-child {
    border-right: none;
}
.tbl_box table tbody tr td {
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: var(--font-common);
}
.tbl_box table tbody tr td a {
    font-weight: 400;
    font-size: var(--font-common);
}
.tbl_box table tbody tr td a:hover {
    text-decoration: underline;
}
.tbl_box table tbody tr td:last-child {
    border-right: none;
}
.tbl_box table tbody tr td em {
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-common);
}

/* 테이블 타입2 :: 채용공고 */
.tbl_box_list {
    border-top: 2px solid #c9c9ce;
}
.tbl_box_list ul li {
    border-bottom: 1px solid #e2e2e2;
}
.tbl_box_list ul li:hover {
    background-color: #ebf6fd;
}
.tbl_box_list ul li a {
    display: flex;
    padding: 20px 0;
    box-sizing: border-box;
}
.tbl_box_list ul li a .employment_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 0 33px;
    box-sizing: border-box;
}
.tbl_box_list ul li a .employment_status .dday {
    font-size: 45px;
    font-weight: 600;
    color: #b4b3b3;
}
.tbl_box_list ul li a .employment_status .dday.txt {
    font-size: 30px;
}
.tbl_box_list ul li a .employment_status .date {
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #b4b3b3;
}
.tbl_box_list ul li a .info_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 200px);
}
.tbl_box_list ul li a .info_box .state_group {
    padding: 35px 0 25px;
}
.tbl_box_list ul li a .info_box .tit {
    font-size: 22px;
    font-weight: 500;
}
.tbl_box_list ul li a .info_box .tit span {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #908f8f;
}
.tbl_box_list ul li a .info_box  .post_info {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px;
}
.tbl_box_list ul li a .info_box  .post_info dl {
    display: flex;
    gap: 5px;
}
.tbl_box_list ul li a .info_box  .post_info dl dt,
.tbl_box_list ul li a .info_box  .post_info dl dd {
    font-size: 15px;
    font-weight: 300;
    color: #908f8f;
}

/* 테이블 상세 */
.tbl_box_detail {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.tbl_box_detail table {
    width: 100%;
}
.tbl_box_detail table tr th,
.tbl_box_detail table tr td {
    background-color: #fff;
    padding: 25px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
    vertical-align: middle;
    font-weight: 500;
    font-size: var(--font-l);
}
.tbl_box_detail table tr td {
    line-height: 35px;
    font-weight: 400;
}
.tbl_box_detail table tr.bg td {
    background-color: #f9fafa;
}
.tbl_box_detail table tr td .file_download {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}
.tbl_box_detail table tr td .file_download .btn_box {
    width: auto;
    flex: none;
}
.tbl_box_detail table tr td .file_download .btn_box * {
    padding: 7px 15px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #333;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
}
.tbl_box_detail table tr td .file_download ul {
    display: flex;
    gap: 10px;
    margin-left: 15px;
}
.tbl_box_detail table tr td .file_download ul li a {
    font-weight: 400;
}
.tbl_box_detail table tr td .file_download ul li a:hover {
    text-decoration: underline;
}
.tbl_box_detail .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tbl_box_detail .tit .left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tbl_box_detail .tit strong,
.tbl_box_detail .tit .f_color_blue {
    font-size: 18px;
    font-weight: 500;
}
.tbl_box_detail .tit .right .info {
    display: flex;
    gap: 10px;
}
.tbl_box_detail .tit .right .info li {
    font-size: 15px;
    color: #868686;
}
.tbl_box_detail .tit .right .info li + li::before {
    content: "ㅣ";
    margin-right: 10px;
}

/* 테이블 등록/수정 */
.tbl_box_add {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.tbl_box_add table {
    width: 100%;
}
.tbl_box_add table tr th,
.tbl_box_add table tr td {
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
    vertical-align: middle;
    font-weight: 500;
    font-size: var(--font-l);
}
.tbl_box_add table tr td {
    line-height: 35px;
    font-weight: 400;
}
.tbl_box_add table tr.bg td {
    background-color: #f9fafa;
}
.tbl_box_add td > dl {
    display: flex;
    gap: 10px;
}
.tbl_box_add td > dl > dt {
    width: 110px;
    font-weight: 400;
}
.tbl_box_add td > dl > dd {
    width: calc(100% - 120px);
}
.tbl_box_add td > dl > dd .inp_box {
    max-width: 100%;
}
.tbl_box_add tr.tr_password td > dl > dd .inp_box {
    max-width: 395px;
}
.tbl_box_add td .textarea_box textarea {
    min-height: 200px;
}

/* 공통게시판 타입  */
.tbl_longcard > ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tbl_longcard > ul > li {
    position: relative;
}
.tbl_longcard > ul > li > a {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 40px;
    box-sizing: border-box;
    border: 1px solid #d9e1e7;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.tbl_longcard > ul > li > a .tit {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tbl_longcard > ul > li > a .tit span {
    font-size: 14px;
    font-weight: 400;
}
.tbl_longcard > ul > li > a .tit strong {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #666;
}
.tbl_longcard > ul > li .info {
    position: absolute;
    bottom: 25px;
    right: 25px;
}
.tbl_longcard > ul > li .info > ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.tbl_longcard > ul > li .info > ul > li {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: #666;
}
.tbl_longcard > ul > li .info > ul > li a {
    font-weight: 400;
    font-size: 14px;
    color: #666;
}
.tbl_longcard > ul > li .info > ul > li a.pop_mini:hover {
    text-decoration: underline;
}
.tbl_longcard > ul > li .info > ul > li .card_set > ul {
    top: 20px;
    min-width: 145px;
}
.tbl_longcard.type_chk .chk {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
.tbl_longcard.type_chk > ul > li > a {
    padding: 25px 25px 25px 65px;
}
.tbl_longcard.type_chk > ul > li .info {
    top: 50%;
    bottom: inherit;
    transform: translateY(-50%);
}
.tbl_longcard.type_chk > ul > li .card_set > ul {
    right: inherit;
    top: 9px;
    left: 227px;
}
.tbl_longcard > ul > li .info > ul li button {

}
.tbl_longcard > ul > li .info > ul li button.btn_skyblue {
    background-color: #47ade7;
}
.tbl_longcard > ul > li .info > ul li button.btn_gray {
    background-color: #979797;
}

/* 리스트 타이틀 박스 */
.list_tit_box {
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f6f7f9;
    border-radius: 10px;
    border: 1px solid #d9e1e7;
}
.list_tit_box .img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.list_tit_box .img img {
    display: block;
}
.list_group_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 230px);
    box-sizing: border-box;
}
.list_group_info .top .administration_box  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.list_group_info .top .administration_box .btn_box {
    width: auto;
    flex: none;
}
.list_group_info .top .administration_box .btn_box .btn_setting {
    align-items: center;
    padding: 0;
    font-size: 14px;
    color: #333;
}
.list_group_info .top .administration_box .btn_box .btn_setting::before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    background: url(../images/ico/ico_setting.png) no-repeat center;
    margin-right: 5px;
}
.list_group_info .top .tit strong {
    display: block;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 500;
}
.list_group_info .top .tit span {
    font-size: 13px;
    font-weight: 400;
}
.list_group_info .top .tit .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.list_group_info .top .tit .details li {
    font-size: 13px;
    font-weight: 400;
}
.list_group_info .top .tit .details li span + span::before {
    content: "ㅣ";
    margin-right: 5px;
}
.list_group_info .bottom ul {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.list_group_info .bottom ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}
.list_group_info .bottom ul li + li::before {
    content: "ㅣ";
    margin-right: 5px;
}
.list_group_info .bottom ul li .btn_box {
    width: auto;
    gap: 5px;
}
.list_group_info .bottom ul li .btn_box button {
    flex: none;
    width: auto;
    padding: 5px 20px;
    font-size: 15px;
}

/* 카드게시판 :: 용어사전 */
.tbl_card > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.tbl_card > ul > li {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.33% - 20px);
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.tbl_card > ul > li::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #333;
}
.tbl_card > ul > li .txt {
    display: flex;
    flex-direction: column;
    padding: 20px 0 30px;
}
.tbl_card > ul > li .txt strong {
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.tbl_card > ul > li .txt span {
    max-width: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.tbl_card > ul > li .txt:hover strong,
.tbl_card > ul > li .txt:hover span {
    text-decoration: underline;
}
.tbl_card > ul > li .info {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
}
.tbl_card > ul > li .info li {
    font-size: 14px;
}
.tbl_card > ul > li .info li + li::before {
    content: "ㅣ";
    margin-right: 5px;
}

/* faq */
.tbl_faq {
    border-top: 1px solid #333;
}
.tbl_faq ul li {
    display: flex;
    flex-direction: column;
}
.tbl_faq ul li a {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e2;
}
.tbl_faq ul li a dl {
    display: flex;
    gap: 15px;
    width: 100%;
}
.tbl_faq ul li a dl dt,
.tbl_faq ul li a dl dd {
    line-height: 24px;
    font-size: var(--font-common);
    font-weight: 400;
    color: #3f89e5;
}
.tbl_faq ul li a dl dt {
    max-width: 170px;
}
.tbl_faq ul li a dl dd {
    max-width: calc(100% - 185px);
    color: #333;
}
.tbl_faq ul li a dl dd::before {
    content: "Q";
    margin-right: 5px;
    font-weight: 500;
}
.tbl_faq ul li .answer {
    display: none;
    position: relative;
    padding: 50px 40px 50px 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
    background-color: #eef4fc;
    line-height: 24px;
}
.tbl_faq ul li .answer::before {
    content: "";
    display: flex;
    position: absolute;
    top: 55px;
    left: 40px;
    width: 18px;
    height: 13px;
    background: url(../images/ico/ico_faq_arrow_right.png) no-repeat center;
}

/* 뉴스레터 웹진 */
.tbl_newletter ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.tbl_newletter ul li {
    display: flex;
    width: calc(33.33% - 20px);
}
.tbl_newletter ul li a {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.tbl_newletter ul li a .division {
    display: flex;
}
.tbl_newletter ul li a .division span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    flex: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.tbl_newletter ul li a .division span:nth-child(1) {
    background-color: #7eb9f5;
}
.tbl_newletter ul li a .division span:nth-child(2) {
    background-color: #b9b9f1;
}
.tbl_newletter ul li a .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbl_newletter ul li a .tit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    height: 68px;
}
.tbl_newletter ul li a .tit strong {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: var(--font-common);
    font-weight: 400;
}
.tbl_newletter ul li a .tit span {
    font-size: var(--font-common);
    font-weight: 400;
}

/* 카드리스트 타입 :: 벤처투자TALK */
.tbl_card_list.type_01 {
    display: flex;
    flex-direction: column;
}
.tbl_card_list.type_01 .card_info {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.card_info .public_box {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}
.card_info .public_box span {
    margin: 0 5px;
    font-size: 18px;
    font-weight: 400;
}
.card_info .public_box .public_btn {
    position: relative;
}
.card_info .public_box button {
    background-color: transparent;
    margin: 0 0 0 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.card_info .public_box .public_content {
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    border: 1px solid #3366cc;
    padding: 22px 20px;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 2;
}
.card_info .public_box .public_content.on {
    display: block;
}
.card_info .public_box .public_content .rdo_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.card_info .public_box .public_content .rdo_box input {
    position: absolute;
    top: 0;
    left: -9999px;
}
.card_info .public_box .public_content .rdo_box label {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
}
.card_info .public_box .public_content .rdo_box label::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #333;
    box-sizing: border-box;
    transform: translateY(-50%);
}
.card_info .public_box .public_content .rdo_box input:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    box-sizing: border-box;
    transform: translateY(-50%);
}
.card_info .public_box .public_content .btn_box_group {
    margin-top: 20px;
}
.card_info .public_box .public_content .btn_box_group .btn_box {
    width: 125px;
}
.card_info .public_box .public_content .btn_box_group .btn_box * {
    font-size: 15px;
}

.card_info ul {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.card_info ul li button {
    position: relative;
    padding: 6px 10px;
    padding-right: 45px;
    border-radius: 7px;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.card_info ul li button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 7px;
    height: 7px;
    border: 1px solid #d2d2d2;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg) translateY(-75%);
}

.tbl_card_list.type_01 > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.tbl_card_list.type_01 > ul > li {
    flex-basis: calc(25% - 15px);
    position: relative;
}
.tbl_card_list.type_01 > ul > li > a {
    display: flex;
    position: relative;
    padding: 22px;
    padding-right: 30px;
    box-sizing: border-box;
    min-height: 180px;
    border-radius: 10px;
    border: 1px solid #d9e1e7;
    font-size: 18px;
    font-weight: 300;
}
.tbl_card_list.type_01 > ul > li > a > span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
}
.tbl_card_list.type_01 > ul > li > button {
    position: absolute;
    top: 16px;
    right: 0;
    width: 40px;
    height: 44px;
    background: url(../images/ico/ico_set.png) no-repeat center;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 1;
}
.card_set > ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 22px 30px;
    box-sizing: border-box;
    border: 1px solid #3366cc;
    background-color: #fff;
    z-index: 1;
}
.card_set > ul.on {
    display: block;
}
.card_set > ul li {
    display: flex;
    align-items: center;
}
.card_set > ul li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 7px;
}
.card_set > ul li + li {
    margin-top: 5px;
}
.card_edit {
    display: none;
    position: fixed;
    bottom: 60px;
    left: 50%;
    width: 50%;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid #3366cc;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 20;
}
.card_edit.on {
    display: block;
}
.card_edit .textarea_box {
    margin-bottom: 15px;
}
.card_edit .textarea_box textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #d9e1e7;
    background-color: #f3f2f2;
    resize: none;
    font-size: 18px;
}
.card_edit .txt_count {
    font-size: 14px;
}
.card_edit .btn_box_group {
    margin-top: -20px;
    justify-content: flex-end;
}
.card_edit .btn_box_group .btn_box {
    width: 105px;
    max-width: 105px;
}
.card_edit .btn_box_group .btn_box * {
    font-size: 15px;
}

/* 카드리스트 타입 :: 투자자 검색 */
.tbl_card_list .list_info {
    padding-bottom: 45px;
}
.tbl_card_list .list_info ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.tbl_card_list .list_info ul li .sel_box {
    width: 170px;
}
.tbl_card_list .list_info ul li .sel_box select {
    padding: 15px;
}
.tbl_card_list .list_info .total {
    font-size: 18px;
    font-weight: 500;
}
.tbl_card_list .list_info .total strong {
    margin-left: 7px;
    font-weight: 700;
    color: #475de6;
}
.tbl_card_list.type_02 > ul {
    display: flex;
    gap: 25px 40px;
    flex-wrap: wrap;
}
.tbl_card_list.type_02 > ul > li {
    width: calc(50% - 20px);
}
.tbl_card_list.type_02 > ul > li a {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #d9e1e7;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.tbl_card_list.type_02 a .tit {
    font-size: 20px;
    font-weight: 500;
}
.tbl_card_list.type_02 a .tit span {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400;
}
.tbl_card_list.type_02 a .info span {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.tbl_card_list.type_02 a .info span + span::before {
    content: "|";
    margin: 0 5px 0 3px;
}
.tbl_card_list.type_02 a .hashtag span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.tbl_card_list.type_02 > .txt {
    display: flex;
    margin-top: 30px;
    font-size: var(--font-common);
    font-weight: 400;
}

/* 카드리스트 타입 :: 투자유치 희망기업 검색 */
.tbl_card_list.type_03 > ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.tbl_card_list.type_03 a {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #d9e1e7;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.tbl_card_list.type_03 a .img {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 145px;
}
.tbl_card_list.type_03 a .group_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 175px);
    padding: 0 35px;
    box-sizing: border-box;
}
.tbl_card_list.type_03 a .group_box .tit {
    font-size: 22px;
    font-weight: 500;
}
.tbl_card_list.type_03 a .group_box .info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}
.tbl_card_list.type_03 a .group_box .info span {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.tbl_card_list.type_03 a .group_box .info span:nth-child(1)::after,
.tbl_card_list.type_03 a .group_box .info span:nth-child(2)::after {
    content: "ㅣ";
    margin-left: 5px;
}
.tbl_card_list.type_03 a .group_box .info .introduce {
    width: 100%;
}

/* 체크박스 리스트타입 :: 투자자 검색 - 이미지 */
.chk_list.img {
    display: flex;
    gap: 10px;
}
.chk_list.img li {
    display: flex;
    flex: 1;
    height: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9e1e7;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.chk_list.img li .img {
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}
.chk_list.img li:nth-child(1) .img {
    background: url(../images/ico/ico_search_01.png) no-repeat center;
}
.chk_list.img li:nth-child(2) .img {
    background: url(../images/ico/ico_search_02.png) no-repeat center;
}
.chk_list.img li:nth-child(3) .img {
    background: url(../images/ico/ico_search_03.png) no-repeat center;
}
.chk_list.img li:nth-child(4) .img {
    background: url(../images/ico/ico_search_04.png) no-repeat center;
}
.chk_list.img li:nth-child(5) .img {
    background: url(../images/ico/ico_search_05.png) no-repeat center;
}
.chk_list.img li:nth-child(6) .img {
    background: url(../images/ico/ico_search_06.png) no-repeat center;
}
.chk_list.img li:nth-child(7) .img {
    background: url(../images/ico/ico_search_07.png) no-repeat center;
}
.chk_list.img li:nth-child(8) .img {
    background: url(../images/ico/ico_search_08.png) no-repeat center;
}
.chk_list.img li:nth-child(9) .img {
    background: url(../images/ico/ico_search_09.png) no-repeat center;
}
.chk_list.img li .chk_box span {
    justify-content: center;
    width: auto;
}

/* 체크박스 리스트타입1 :: 투자자 검색 */
.chk_list.type_01 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.chk_list.type_01 li {
    display: flex;
    justify-content: center;
    width: calc((100% / 9) - 9px);
    padding: 15px 0;
    box-sizing: border-box;
    border: 1px solid #d9e1e7;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.chk_list.type_01 li.more {
    padding: 0;
    border: 2px solid #3a54c4;
}
.chk_list.type_01 li.more button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    font-weight: 500;
    font-size: 15px;
    color: #3a54c4;
    cursor: pointer;
}
.chk_list.type_01 li.more button.on {
    background-color: #3a54c4;
    color: #fff;
}
.chk_list.type_01 li .chk_box span {
    justify-content: center;
    align-items: center;
    width: auto;
}

/* 체크박스 리스트타입2 :: 투자자 검색 */
.chk_list.type_02 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid #d9e1e7;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.chk_list.type_02 > li {
    padding: 20px 0;
}
.chk_list.type_02 > li + li {
    border-top: 1px solid #d9e1e7;
}
.chk_list.type_02 > li .chk_box span {
    justify-content: flex-start;
    align-items: center;
    width: calc(100% / 7);
    padding-left: 20px;
    box-sizing: border-box;
}

/* 체크박스 리스트타입3 :: 투자자 검색 */
.chk_list.type_03 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid #d9e1e7;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
}
.chk_list.type_03 li {
    padding: 20px 0;
}
.chk_list.type_03 li + li {
    border-top: 1px solid #d9e1e7;
}
.chk_list.type_03 li .chk_box {
    gap: 45px;
}
.chk_list.type_03 li .chk_box span {
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding-left: 20px;
    box-sizing: border-box;
}


/* search form 서치폼 */
.search_form_group {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
}
.search_form_box {
    display: flex;
    gap: 15px;
    background-color: #f0f3f6;
    padding: 22px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}
.search_form_box .sel_box {
    width: 170px;
}
.search_form_box .sel_box select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    font-size: 15px;
}
.search_form_box .inp_box {
    width: 600px;
    max-width: none;
}
.search_form_box .btn_box {
    flex: none;
    width: auto;
}
.search_form_box .btn_box * {
    align-items: center;
    padding: 0 35px;
}
.search_form_group .txt {
    text-align: right;
    font-weight: 400;
    font-size: var(--font-common);
}

/* 탭 */
.tab_group .tab_btn ul {
    display: flex;
    border-bottom: 1px solid #c1c1c1;
}
.tab_group .tab_btn ul > li {
    flex: 1;
}
.tab_group .tab_btn ul > li > a {
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 30px 0;
    font-size: 22px;
    font-weight: 500;
}
.tab_group .tab_btn ul > li.on > a {
    border-bottom: 2px solid #1c44c8;
    font-weight: 600;
    color: #1c44c8;
}
.tab_group .tab_content > div {
    display: none;
    padding: 45px 0;
    box-sizing: border-box;
}
.tab_group .tab_content > div.on {
    display: block;
}

/* 페이징 */
.board_btn {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 75px;
}
.paging_box ul {
    display: flex;
    gap: 10px;
}
.paging_box ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 39px;
    height: 39px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #c9daf7;
    font-weight: 500;
    font-size: var(--font-s);
    color: #a9a9a9;
    transition: .2s;
}
.paging_box ul li a:hover,
.paging_box ul li a:focus,
.paging_box ul li.on a {
    background-color: #c9daf7;
    color: #333;
}
.paging_box ul li.prev_all a,
.paging_box ul li.prev a,
.paging_box ul li.next a,
.paging_box ul li.next_all a {
    min-width: 30px;
    padding: 0;
    background: no-repeat center;
    border: none;
}
.paging_box ul li.prev_all a {
    background-image: url(../images/ico/ico_paging_prev_all.png);
}
.paging_box ul li.prev a {
    background-image: url(../images/ico/ico_paging_prev.png);
}
.paging_box ul li.next a {
    background-image: url(../images/ico/ico_paging_next.png);
}
.paging_box ul li.next_all a {
    background-image: url(../images/ico/ico_paging_next_all.png);
}
.paging_box + .btn_box {
    position: absolute;
    top: -2px;
    right: 0;
}

.btn_state_box {
    display: flex;
    margin: 30px 0;
    gap: 10px;
}
.btn_state_box button {
    display: flex;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
.btn_state_box .btn_skyblue {
    background-color: #47ade7;
}
.btn_state_box .btn_gray {
    background-color: #979797;
}

/* datepicker */
.ui-datepicker {
    padding: 0;
    border: 1px solid #d9e1e7;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 5%);
    padding: 15px;
    box-sizing: border-box;
}
.ui-datepicker .ui-datepicker-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: none;
}
.ui-datepicker .ui-datepicker-title {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0;
    line-height: inherit;
}
.ui-datepicker .ui-datepicker-title select {
    padding: 6px 0;
    width: auto;
    font-family: 'scoredream';
    font-size: 15px;
    font-weight: 400;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 50%;
    transform: translateY(-50%);
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    border: 1px solid #333;
    border-width: 0 2px 2px 0;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -4px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: none;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 50%;
}
.ui-datepicker .ui-datepicker-prev {
	left: 3px;
}
.ui-datepicker .ui-datepicker-next {
	right: 3px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 3px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 3px;
}
.ui-datepicker .ui-datepicker-prev span {
    transform: rotate(135deg);
}
.ui-datepicker .ui-datepicker-next span {
    transform: rotate(-45deg);
    margin-left: -5px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	background: #f5f5f5;
	font-weight: normal;
	color: #333;
    border-radius: 5px;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #333;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background-color: #1c44c8;
    border-radius: 5px;
    color: #fff;
}

/* ============================================================
    미디어쿼리 max-width: 1500px
============================================================ */

@media screen and (max-width: 1500px) {
    :root {
        /* font size */
        --font-s: 14px;
        --font-common: 15px; /* 기본 폰트사이즈 */
        --font-l: 16px;
        --font-xl: 17px;
        --font-xxl: 18px;
    }
}

/* ============================================================
    미디어쿼리 max-width: 1024px
============================================================ */

@media screen and (max-width: 1024px) {
    .wrap {
        min-width: 1024px;
    }
    /* header */
    header {
        /* min-width: 1024px; */
    }
    /* conteiner */
    .container::before {
        min-width: 1024px;
    }
}

/* ============================================================
    미디어쿼리 max-width: 768px
============================================================ */

@media screen and (max-width: 768px) {
    .wrap {
        min-width: 0;
        width: 100%;
    }
    /* header */
    /* conteiner */
    .container::before {
        min-width: 0;
        width: 100%;
    }

    /* state box / border-radius 있는것 */
    .state_box.type_02 {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    
    /* 버튼 */
    .btn_box {
        width: 100%;
    }
    
    /* 제목 */
    .tit_box h3 {
        font-size: 27px;
    }
    .tit_box h3 + span {
        padding-bottom: 20px;
    }
    .tit_box h4 {
        margin-bottom: 20px;
    }

    /* sel_box 셀렉트박스 */
    .sel_box select {
        font-size: 14px;
    }

    /* chk_box 라디오박스 */
    .chk_box input ~ label {
        font-size: 14px;
    }

    /* statebox */
    .state_box > * {
        padding: 4px 7px;
        font-size: 11px;
    }

    /* 혼합인풋 */
    .inp_group.search * {
        flex: none;
    }
    .inp_group.search .inp_box.min {
        width: calc(100% - 77px);
    }
    .inp_group.address span .inp_box.min {
        width: calc(100% - 102px);
    }
    .inp_group .txt {
        font-size: 14px;
    }

    /* 테이블 */
    .tbl_box {
        width: 100%;
        overflow-x: auto;
    }
    .tbl_box table {
        min-width: 768px;
    }
    .tbl_box table thead tr th {
        padding: 10px 0;
        font-size: 14px;
    }
    .tbl_box table tbody tr td {
        padding: 10px 5px;
    }
    
    /* 게시판 타입1 ::  */
    .tbl_longcard > ul {
        gap: 10px;
    }
    .tbl_longcard > ul > li > a {
        padding: 15px;
        padding-bottom: 40px;
    }
    .tbl_longcard > ul > li .info {
        bottom: 15px;
        right: 15px;
    }
    /*
    작성자 이름 길때
    .tbl_longcard > ul > li .info > ul {
        gap: 5px;
        flex-wrap: wrap;
    }
    .tbl_longcard > ul > li .info > ul > li:nth-child(1) {
        width: 100%;
        text-align: right;
    } */
    .tbl_longcard.type_chk > ul > li > a {
        padding: 15px 15px 70px 60px;
    }
    .tbl_longcard.type_chk > ul > li > a .tit {
        gap: 5px;
    }
    .tbl_longcard.type_chk > ul > li .info {
        left: 0;
        right: inherit;
        top: inherit;
        bottom: 15px;
        width: 100%;
        padding: 0 15px 0 60px;
        box-sizing: border-box;
        transform: translateY(0);
    }
    .tbl_longcard.type_chk > ul > li .info > ul > li {
        flex: 1;
    }
    .tbl_longcard.type_chk > ul > li .info > ul > li .btn_box * {
        font-size: 14px;
    }

    /* 리스트 타이틀 박스 */
    .list_tit_box {
        flex-direction: column;
        gap: 10px;
    }
    .list_tit_box .img {
        width: 100%;
        height: 150px;
    }
    .list_group_info {
        width: 100%;
        padding: 0;
    }
    .list_group_info .top .administration_box {
        flex-direction: column-reverse;
        gap: 5px;
        margin-bottom: 10px;
    }
    .list_group_info .top .administration_box .btn_box a {
        justify-content: flex-end;
    }
    .list_group_info .top .tit strong {
        margin-bottom: 10px;
    }
    .list_group_info .top .tit .details li {
        display: flex;
        flex-direction: column;
    }
    .list_group_info .top .tit .details li span + span::before {
        display: none;
    }
    .list_group_info .bottom {
        margin-top: 20px;
    }
    .list_group_info .bottom ul {
        flex-direction: column;
        align-items: flex-end;
    }
    .list_group_info .bottom ul li + li::before {
        display: none;
    }

    /* 카드게시판 :: 용어사전 */
    .tbl_card > ul {
        gap: 10px;
    }
    .tbl_card > ul > li {
        width: 100%;
        padding: 15px;
    }
    .tbl_card > ul > li .txt {
        padding: 20px 0;
    }
    .tbl_card > ul > li .info {
        padding-top: 15px;
    }

    /* 테이블 상세 */
    .tbl_box_detail table tr th,
    .tbl_box_detail table tr td {
        padding: 15px 0;
    }
    .tbl_box_detail table tr td img {
        max-width: 100%;
    }
    .tbl_box_detail .tit {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .tbl_box_detail .tit .left {
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
    }
    .tbl_box_detail .tit .left .state_box span {
        margin-left: 0;
    }
    .tbl_box_detail .tit strong {
        text-align: left;
    }
    .tbl_box_detail .tit .right .info li {
        font-size: 14px;
    }
    .tbl_box_detail table tr td .file_download {
        padding: 0 10px;
    }
    .tbl_box_detail table tr td .file_download ul li a {
        font-size: 14px;
    }
    
    /* 테이블 등록/수정 */
    .tbl_box_add table tr td {
        line-height: 1;
    }
    .tbl_box_add td > dl {
        flex-direction: column;
        gap: 5px;
    }
    .tbl_box_add td > dl > dt {
        width: 100%;
    }
    .tbl_box_add td > dl > dd {
        width: 100%;
    }

    /* 테이블 타입0 :: 데이터 테이블 */
    .tbl_box_data > table > colgroup > col {
        display: flex;
        width: 100%;
    }
    .tbl_box_data > table > tbody > tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .tbl_box_data > table > tbody > tr > th {
        width: 100%;
        box-sizing: border-box;
        border-right: none;
        padding: 15px;
    }
    .tbl_box_data > table > tbody > tr > td {
        width: 100%;
        box-sizing: border-box;
        border-right: none;
        padding: 15px;
    }

    /* 체크박스 리스트타입 :: 투자자 검색 - 이미지 */
    .chk_list.img {
        flex-wrap: wrap;
    }
    .chk_list.img li {
        flex: none;
        min-width: calc(50% - 7px);
        height: 80px;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .chk_list.img li .img {
        height: 50%;
        background-size: auto 100% !important;
    }

    /* 체크박스 리스트타입1 :: 투자자 검색 */
    .chk_list.type_01 {
        gap: 5px;
    }
    .chk_list.type_01 li {
        width: auto;
        padding: 10px 15px;
    }
    .chk_list.type_01 li.more {
        width: 100%;
    }
    .chk_list.type_01 li.more button {
        padding: 10px 15px;
        font-size: 14px;
    }
    .chk_list.type_01 li.more button br {
        display: none;
    }

    /* 체크박스 리스트타입2 :: 투자자 검색 */
    .chk_list.type_02 {
        padding: 0 15px;
    }
    .chk_list.type_02 li {
        padding: 10px 0;
    }
    .chk_list.type_02 li .chk_box {
        gap: 10px;
    }
    .chk_list.type_02 li .chk_box span {
        width: auto;
        padding-left: 0;
    }

    /* 체크박스 리스트타입3 :: 투자자 검색 */
    .chk_list.type_03 > li .chk_box {
        gap: 10px;
    }
    .chk_list.type_03 > li .chk_box span {
        padding-left: 0;
    }
    .chk_list.type_02 > li + li {
        border-top: 0;
        padding-top: 0;
    }

    /* 카드리스트 타입 :: 투자자 검색 */
    .tbl_card_list .list_info {
        padding-bottom: 20px;
    }
    .tbl_card_list .list_info ul {
        justify-content: flex-start;
        gap: 5px;
        flex-wrap: wrap;
    }
    .tbl_card_list .list_info ul li {
        width: calc(50% - 5px);
    }
    .tbl_card_list .list_info ul li .sel_box {
        width: 100%;
    }
    .tbl_card_list .list_info .total {
        padding-top: 20px;
    }
    .tbl_card_list.type_02 > ul {
        gap: 10px;
    }
    .tbl_card_list.type_02 > ul > li {
        width: 100%;
    }
    .tbl_card_list.type_02 > ul > li a {
        gap: 5px;
    }
    .tbl_card_list.type_02 a .info {
        display: flex;
        flex-direction: column;
    }
    .tbl_card_list.type_02 a .info span + span::before {
        display: none;
    }
    .tbl_card_list.type_02 a .tit span {
        display: block;
        margin-left: 0;
    }
    .tbl_card_list.type_02 > .txt {
        margin-top: 10px;
    }

    /* 카드리스트 타입 :: 투자유치 희망기업 검색 */
    .tbl_card_list.type_03 a {
        flex-direction: column;
    }
    .tbl_card_list.type_03 a .img {
        width: 100%;
        height: 120px;
    }
    .tbl_card_list.type_03 a .group_box {
        width: 100%;
        padding: 15px;
    }

    /* search form 서치폼 */
    .search_form_box {
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }
    .search_form_box .sel_box {
        width: 100%;
        height: 40px;
    }
    .search_form_box .sel_box select {
        padding: 10px;
        font-size: 14px;
    }
    .search_form_box .inp_box {
        width: 100%;
        height: 40px;
    }
    .search_form_box .btn_box {
        width: 100%;
        height: 40px;
    }

    /* faq */
    .tbl_faq ul li a dl {
        flex-direction: column;
        gap: 5px;
    }
    .tbl_faq ul li a dl dt {
        max-width: 100%;
    }
    .tbl_faq ul li a dl dd {
        max-width: 100%;
    }
    .tbl_faq ul li .answer {
        padding: 15px 15px 15px 40px;
    }
    .tbl_faq ul li .answer::before {
        top: 20px;
        left: 15px;
    }

    /* 뉴스레터 웹진 */
    .tbl_newletter ul {
        gap: 10px;
    }
    .tbl_newletter ul li {
        width: 100%;
    }

    /* 탭 */
    .tab_group {

    }
    .tab_group .tab_btn {
        overflow-y: hidden;
        height: 46px;
        border-bottom: 1px solid #c1c1c1;
    }
    .tab_group .tab_btn ul {
        overflow-x: auto;
        overflow-y: hidden;
        gap: 15px;
        padding-bottom: 15px;
    }
    .tab_group .tab_btn ul > li {
        flex: none;
    }
    .tab_group .tab_btn ul > li > a {
        padding: 10px 0;
        font-size: 18px;
    }
    .tab_group .tab_content > div {
        padding: 20px 0;
    }

    /* 페이징 */
    .board_btn {
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        align-items: center;
    }
    .paging_box ul {
        gap: 3px;
    }
    .board_btn .paging_box + .btn_box {
        position: inherit;
    }

    .btn_state_box {
        gap: 5px;
        margin: 15px 0;
    }
    .btn_state_box button {
        flex: 1;
        justify-content: center;
        padding: 10px 0;
    }
}
